{{ form_start(form) }}

{{ form_label(form.email) }}
{{ form_widget(form.email) }}

{{ form_label(form.roles) }}
{{ form_widget(form.roles) }}

{{ form_label(form.password) }}
{{ form_widget(form.password) }}

<button type="submit" class="btn btn-primary mt-3">Enregistrer</button>

{{ form_end(form) }}
