{% extends '/admin/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="card mt-1 m-4 p-3">
        <a href="{{ path('app_admin_user_index') }}" class="mb-3"> < Retour</a>
        <h1>Utilisateur</h1>
        <table class="table table-dark">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex mt-4">
            <a class="btn btn-primary" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a>
            {{ include('admin/user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
